<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Song</title>
</head>
<body>
    <p><a href="/displaysong">Home</a> | <a href="/addsong">New Song</a> | <a href="/logout">Logout</a></p>
    <p>Artist: {{ song.artist.artistname  }}</p>
    {% for song in songs %}
    <p>Song Title:  {{ song.title }}</p>
    {% endfor %}
    <p>Added by:  {{ song.addedby.fname }} {{ song.addedby.lname }}</p><br>
    <p>Users Who Like this song</p>
    {% for i in users %}
        <p>{{ i.fname }} {{ i.lname }}</p>
    {% endfor %}

   
    
   
</body>
</html>